*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #fff;
  font-family: 'Roboto', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
ol, ul{
  padding: 0;
}